@charset "utf-8";
@import "../../_27/_init.less";

//样式重置
//#reset();
//面向对象基础元素
//#oocss();
//#grid();

//全局样式
// body,button,input,textarea,select{ font: caption; font-size: 14px; line-height: 20px; color: #666; }
// //基础样式
// body{ width: 80%; max-width: 1000px; margin: 0 auto; }
// a{ text-decoration: none; }

// //导航样式
// .nav{
// 	li{ margin-right: 1em; }
// 	a{ #hLh(1.5em); color: #333; padding: 0.5em 1em; }
// 	.active, a:hover{ #bcC(#08c,#fff); }
// }

// .clearfix{
// 	#clearfix;
// }
