@charset "utf-8";
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
dl,
dd,
form,
legend,
ul,
ol,
fieldset {
  margin: 0;
  padding: 0;
}
small,
button,
input,
select,
textarea,
h1,
h2,
h3,
h4,
h5,
h6,
i,
em,
strong {
  font-size: 100%;
  font-weight: normal;
}
button,
input,
select,
textarea {
  margin: 0;
}
button,
input,
select {
  vertical-align: middle;
}
i,
em {
  font-style: normal;
}
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
}
th {
  font-weight: normal;
  text-align: left;
}
fieldset,
img {
  border: 0;
}
a,
button {
  cursor: pointer;
}
li {
  list-style: none;
}
button {
  text-align: center;
}
.g12-1, .g12-2, .g12-3, .g12-4, .g12-5, .g12-6, .g12-7, .g12-8, .g12-9, .g12-10, .g12-11, .g12-12 {
  float: left;
  *display: inline;
  margin-right: 20px;
}
.g12-12 {
  width: 940px;
}
.g12-11 {
  width: 860px;
}
.g12-10 {
  width: 780px;
}
.g12-9 {
  width: 700px;
}
.g12-8 {
  width: 620px;
}
.g12-7 {
  width: 540px;
}
.g12-6 {
  width: 460px;
}
.g12-5 {
  width: 380px;
}
.g12-4 {
  width: 300px;
}
.g12-3 {
  width: 220px;
}
.g12-2 {
  width: 140px;
}
.g12-1 {
  width: 60px;
}
body,
button,
input,
textarea,
select {
  font: caption;
  font-size: 14px;
  line-height: 20px;
  color: #666;
}
body {
  width: 80%;
  max-width: 1000px;
  margin: 0 auto;
}
a {
  text-decoration: none;
}
.nav li {
  margin-right: 1em;
}
.nav a {
  height: 1.5em;
  line-height: 1.5em;
  color: #333;
  padding: 0.5em 1em;
}
.nav .active,
.nav a:hover {
  background-color: #0088cc;
  color: #ffffff;
}
.box {
  height: 40px;
  width: 100px;
  line-height: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -15px;
  margin-left: 25px;
  background-color: #000000;
  color: #ffffff;
  border: 1px solid #ddd;
}
